
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */


h1 {
  font: var(--mat-sys-headline-large);
  color: blueviolet;
}

.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}


.task-list-container {
  position: relative;
}

.task-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-btn {
  position: fixed;
  bottom: 2rem;
  width: 200px !important;
}


:host {
  display: block;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

mat-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 0;
  margin-bottom: 40px;
  
}

mat-list-item {
  overflow: visible !important;
}